<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout:: head">


<body>

	<div class="container py-4"> 
		<header th:replace ="layout/layout:: header"></header>
				
		<div  class="d-flex justify-content-center mt-3">
			<h1 th:text="${titulo}" class="text-success"></h1>
		</div>
		
		<div class="card bg-lght">
			<div class="card-header" >
				<div class="card-body">
						<ul class="list-group">
						<li class="list-group-item" th:text="${cliente.nombre}"></li>
						<li class="list-group-item" th:text="${cliente.apellido}"></li>
						<li class="list-group-item" th:text="${cliente.edad} + ' años'"></li>
						<li class="list-group-item" th:text="${cliente.email}"></li>
						<li class="list-group-item" th:text="${cliente.fechaCreacion}"></li>
					</ul>							
				</div>
			</div>
		</div>
			
	</div>
	
	<footer th:replace="layout/layout:: footer"></footer>

</body>
</html>